{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halaman {{judul}}</title>
    <style>
        img{
            width:100%;
        }
    </style>
</head>
<body>
    <img src="{% static "about/img/banner_about.png" %}" alt="">
    <h1>{{subjudul}} di halaman {{judul}}</h1>
    <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
</body>
</html>